body {
  padding-top: 5rem;
  background-color: black;
color: white;
}

main > .container {
max-width:1200px;
    margin:auto;
    margin-top:100px;
    font-size:18px;
	}


.footer {
  background-color: black;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


#hero-image {
background-image: url(image-one.jpg);
background-position: center;
position: relative;
width: 1440px;
max-width: 100%;
height: 400px;
z-index: -1000000000;
top: 40px;
margin: auto;
background-color: black;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.navbar {
	background: linear-gradient(to bottom, #484848 0%, #000000 100%);
}
 .nav-link {
	 color: #fff !important;
 }
 
 .nav-link:hover {
 color: #e8a509 !important;

 }
 

#section1 #section2 #section3 {
    margin-bottom:100px;
    text-align:justify;
}



#section1 {
display:inline-block;
clear: both;
margin-left: 13.5rem;
font-size: 1.3rem;
padding: 40px;
align: center;
 max-width: 1440px;
background-position: center;
position: static;
}


#section2 {
display:inline-block;
align: center;
 max-width: 1440px;
clear: both;
margin-left: 13.5rem;
font-size: 1.3rem;
padding: 50px;
background-position: center;
position: relative;
}


#section4 {
	display:inline-block;
clear: both;
margin-left: 13.5rem;
font-size: 1.3rem;
padding: 40px;
align: center;
 max-width: 1440px;
background-position: center;
position: static;
	
	
}


h2 {
	
	color: #e8a509;
}



.video {
max-width: 100%;
margin-left: 15rem;
padding: 0px;
}

.iframe {
	padding: 0px;
	
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e8a509;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
}

input[type=submit]:hover {
  background-color: #e8a509;
  color: black;
}

.contact {
  border-radius: 5px;
  border:1px solid #e8a509;
  background-color: black;
   color: #e8a509;
  padding: 1rem;
  Width: 100%;
  max-width: 1440px;
  margin-left: 13.5rem;
  margin-bottom: 1rem;

}

.SM {
    float: right;

}

.about {
	 margin-bottom:100px;
    text-align:justify;
	color: white;
	
}

.video {
	{
	 margin-bottom:100px;
    text-align:justify;
	color: black;
	margin-left: -20px;
}
	
}

.pic_right {
    float:right;
    width:400px;
    padding:0px 0px 0px 20px;
}

.header_pic {
    width:100%;
}