body {
  padding-top: 5rem;
  background-color: black;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


#hero-image {
background-image: url(image-one.jpg);
background-position: center;
position: relative;
width: 1440px;
height: 400px;
z-index: -1000000000;
top: 40px;
margin: auto;
background-color: red;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.navbar {
	background: linear-gradient(to bottom, #484848 0%, #000000 100%);
}
 .nav-link {
	 color: #fff !important;
 }
 
 .nav-link:hover {
 color: #e8a509 !important;

 }
 
.container {
	color: white;
	
}



@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}

 @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }